
* {
  font-family: Helvetica;
  color: black;
}

h1 {
  font-family: Helvetica;
  font-size: 90px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#dasmoto {
  background-image: url("./pattern.jpeg");
  width: 1144px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  padding: 10px;
  float: left;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1px solid black;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
  border: 1px solid black;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

.price {
  color: blue;
  font-weight: bold;
}

#frames, #brushes, #paint {
  width: 360px;
  height: 500px;
  margin-left: 10px;
  border: 1px solid black;
  padding: 10px;
  float: left;
}
